@tailwind base;
/* @tailwind components; */
@tailwind utilities;

:root {
  --bg-color: #f6f7ff;
  --link-hover-color: #2c36f2;

  --text-color-primary: #707c87;
  --text-color-secondary: #1f1e25;
  --text-color-light: #f6f7ff;

  --button-text-color-primary: #f6f7ff;
  --button-text-color-secondary: #707c87;
  --button-color-primary: #2c36f2;
  --button-color-secondary: #f6f7ff;

  --padding-x: 6rem;
}

body {
  color: var(--text-color-primary);
}
